<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
	<p> Login </p>
    <form action='login' method='post'>
        <input type='text' name='username'>
        <input type='password' name='password'>
        <input type='submit' value='Login'>
    </form>

     <form action="http://localhost:8888/register">
        <input type="submit" value="Register" />
    </form>
</body>

</html>
