<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
</head>
<body>
	<div id="message-area">Text</div>

	<form action="send-message">
		<input type='text'>
		<input type='submit' value="Submit">
	</form>
</body>
</html>

