<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
</head>
<body>
	<div id='message-area'>
		<% for (var i = 0; i < messages.length; i++) { %>
			<p> <%= messages[i].message %> </p>
		<% } %>
	</div>

	<input id='message-field' type='text' name='message'>
	<input id='send-button' type='submit' value='Send'>
	
	<script src='/socket.io/socket.io.js'></script>
	<script>
  		// var socket = io.connect('http://localhost:8888');
  		var socket = io.connect('https://glacial-citadel-99088.herokuapp.com');

  		socket.emit('sendUserId', {'userId': <%= userId %>});
	
		document.getElementById('send-button').onclick = function() {
	  		var message = document.getElementById('message-field').value;
	  		socket.emit('sendMessage', {'message': message, 'userId': <%= userId %>, 
	  			'recipientId': <%= recipientId %>});

	  		//add the new message
	  		var paragraphTag = document.createElement('p');
	  		var textNode = document.createTextNode(message);
	  		paragraphTag.appendChild(textNode);
	  		document.getElementById('message-area').appendChild(paragraphTag);
	  	}

	  	socket.on('updateMessageArea', function(data) {
	  		var newMessage = data.message;
	  		var paragraphTag = document.createElement('p');
	  		var textNode = document.createTextNode(newMessage);
	  		paragraphTag.appendChild(textNode);
	  		document.getElementById('message-area').appendChild(paragraphTag);
	  	});
	</script>
</body>
</html>

